.conainer {
    max-width: 100%;
    margin: 0;

}

.container-principal {
    background-color: #03423f;
    height: 59px;
    line-height: 59px;


}

.container-logo {
    padding: 0;
    display: block;
    width: auto;
    height: auto;
    max-height: 100%;
    image-rendering: auto;
    position: relative;
    z-index: 2;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

.container-titulo {
    color: #03423f;
    font-size: 43px;
    font-weight: bold;
    margin-top: 34px;
    text-align: center;
}

.container-button {
    text-align: center
}

.container-header {
    margin-top: 100px;
}

.container-body {
    margin: 25px;
}

.btn-success {
    align-items: center;
    color: #fff;
    background-color: #198754;
    border-color: #198754;
    margin: 15px;
    margin-left: 109px;
    width: 290px;

}

.dias_1 {

    color: white;
    background-color: #B8FF33;
    font-family: arial;
    font-weight: bolder;
    font-size: .9rem;
}

.dias_3 {
    color: white;
    background-color: #FFF933;
    font-family: arial;
    font-weight: bolder;
    font-size: .9rem;




}

.dias_5 {
    color: #FF5233;
}